
.DS_Store
obj/NimblesThrowingStuff.csproj.nuget.dgspec.json
bin/Debug/net45/FNA.dll.config
bin/Debug/net45/Ionic.Zip.Reduced.dll
bin/Debug/net45/log4net.dll
bin/Debug/net45/Mono.Cecil.dll
bin/Debug/net45/Mono.Cecil.Mdb.dll
bin/Debug/net45/Mono.Cecil.Pdb.dll
bin/Debug/net45/MonoMod.RuntimeDetour.dll
bin/Debug/net45/MonoMod.RuntimeDetour.xml
bin/Debug/net45/MonoMod.Utils.dll
bin/Debug/net45/MonoMod.Utils.xml
bin/Debug/net45/MP3Sharp.dll
bin/Debug/net45/Newtonsoft.Json.dll
bin/Debug/net45/NimblesThrowingStuff.dll
bin/Debug/net45/NimblesThrowingStuff.pdb
bin/Debug/net45/NVorbis.dll
bin/Debug/net45/ReLogic.dll
bin/Debug/net45/Steamworks.NET.dll
bin/Debug/net45/System.ValueTuple.dll
bin/Debug/net45/TerrariaHooks.dll
bin/Debug/net45/tModLoader.exe
obj/Debug/net45/.NETFramework,Version=v4.5.AssemblyAttributes.cs
obj/Debug/net45/NimblesThrowingStuff.AssemblyInfo.cs
obj/Debug/net45/NimblesThrowingStuff.pdb
obj/Debug/net45/NimblesThrowingStuff.csprojAssemblyReference.cache
obj/Debug/net45/NimblesThrowingStuff.dll
obj/Debug/net45/NimblesThrowingStuff.csproj.FileListAbsolute.txt
obj/Debug/net45/NimblesThrowingStuff.csproj.CoreCompileInputs.cache
obj/Debug/net45/NimblesThrowingStuff.csproj.CopyComplete
obj/Debug/net45/NimblesThrowingStuff.AssemblyInfoInputs.cache
obj/NimblesThrowingStuff.csproj.nuget.dgspec.json
obj/project.assets.json
obj/project.nuget.cache
.vs/NimblesThrowingStuff/xs/project-cache/NimblesThrowingStuff-Debug.json
.vs/NimblesThrowingStuff/xs/UserPrefs.xml
bin/Debug/net45/FNA.dll
obj/Debug/net45/NimblesThrowingStuff.csprojAssemblyReference.cache
obj/NimblesThrowingStuff.csproj.nuget.dgspec.json
obj/project.assets.json
obj/project.nuget.cache
.vs/NimblesThrowingStuff/xs/project-cache/NimblesThrowingStuff-Debug.json
.vs/NimblesThrowingStuff/xs/UserPrefs.xml
obj/Debug/net45/NimblesThrowingStuff.csprojAssemblyReference.cache
obj/NimblesThrowingStuff.csproj.nuget.dgspec.json
obj/project.assets.json
obj/project.nuget.cache
.vs/NimblesThrowingStuff/xs/project-cache/NimblesThrowingStuff-Debug.json
.vs/NimblesThrowingStuff/xs/UserPrefs.xml
obj/Debug/net45/NimblesThrowingStuff.csprojAssemblyReference.cache
obj/NimblesThrowingStuff.csproj.nuget.dgspec.json
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net45/NimblesThrowingStuff.csprojAssemblyReference.cache
obj/NimblesThrowingStuff.csproj.nuget.dgspec.json
obj/project.assets.json
obj/project.nuget.cache
obj/project.nuget.cache
.vs/NimblesThrowingStuff/xs/UserPrefs.xml
obj/project.nuget.cache
obj/project.assets.json
obj/NimblesThrowingStuff.csproj.nuget.g.props
obj/NimblesThrowingStuff.csproj.nuget.dgspec.json
obj/Debug/net45/NimblesThrowingStuff.csprojAssemblyReference.cache
obj/Debug/net45/NimblesThrowingStuff.assets.cache
.vs/NimblesThrowingStuff/xs/UserPrefs.xml
.vs/NimblesThrowingStuff/xs/project-cache/NimblesThrowingStuff-Debug.json
.vs/NimblesThrowingStuff/xs/UserPrefs.xml
.vs/NimblesThrowingStuff/xs/UserPrefs.xml
obj/Debug/net45/NimblesThrowingStuff.csprojAssemblyReference.cache
.vs/NimblesThrowingStuff/xs/UserPrefs.xml
.vs/NimblesThrowingStuff/xs/project-cache/NimblesThrowingStuff-Debug.json
